@use "../../scss/abstracts/variables" as *;

.inconNav-container {
  background-color: $primary-color;
  flex: 1;
  border: 1.5px solid #000;
  justify-content: center;

  p {
    background-color: $secondary-color;
    border: 1.5px solid #000;
  }
}