@use "../abstracts/variables" as *;

html,

body {
  font-family: $tipografy;
  font-size: 24px;
  color: $text-color;
  background-color: $background-color;

  button {
    background-color: $secondary-color;
  }
}
